# /node_modules
# /public/hot
# /public/storage
# /public/corporate_images
# /public/utilities
# /storage/*.key
# /vendor
# .env
# .env.backup
# .phpunit.result.cache
# docker-compose.override.yml
# Homestead.json
# Homestead.yaml
# npm-debug.log
# yarn-error.log
# /.idea
# /.vscode
# .github
# composer.lock
# public/uploads
# public/profile_images
# public/claims
# public/enrollment-dump-upload
